

fieldset {
    background-color: rgb(255, 246, 205);
    border: 2px solid rgb(233, 69, 0);    
    margin: 10px 0px 100px 2.5%;
    width: 46%;
     /*float:left; */

  }
  


  legend {
    background-color: rgb(233, 69, 0);
    color: white;
    padding: 3px 0px;
    text-indent: 5px;
    width: 100%;
    
  }

  label {
    clear: left;
    display: block;
    float: left;
    font-size: 0.9em;
    margin: 0px 4% 7px 5px;
    width: 40%;
    
  }

  input {
    display: block;
    float: left;
    font-size: 0.9em;
    margin: 7px 0px;
    width: 50%;
    
  }


  select {
    display: block;
    float: left;
    font-size: 0.9em;
    margin: 7px 0px;
   

  }
